<div class="container">
  <h3>Payment Form</h3>

  <div class="row">
    <div class="form-group col">
      <label>Payee Name</label>
      <input class="form-control" type="text" (input)="onNameChange($event)" />
    </div>

    <div class="col">
      <label><b>Name</b></label>
      <div>
        {{ name | titlecase }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Date</label>
      <input class="form-control" type="date" (input)="onDateChange($event)" />
    </div>

    <div class="col">
      <label><b>Date</b></label>
      <div>
        {{ date | date: "MMMM d, y" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Payment Amount</label>
      <input class="form-control" type="number" (input)="onAmountChange($event)" />
    </div>

    <div class="col">
      <label><b>Amount</b></label>
      <div>
        {{ amount | currency: "EUR" }}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group col">
      <label>Miles</label>
      <input class="form-control" type="number" (input)="onMilesChange($event)" />
    </div>

    <div class="col">
      <label><b>Kilometers</b></label>
      <div>
        {{ miles | convert }}
      </div>
    </div>
  </div>
</div>